.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    background-color: white;
    color: black;
    border-color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary:disabled {
    background-color: #CCC;
    border-color: #CCC;
}

.btn-outline-primary, .btn-outline-primary:visited {
    color: white;
    border-color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:active:focus {
    background-color: white;
    color: black;
    border-color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}