html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(170deg, rgba(12,9,63,1) 5%, rgba(79,18,15,1) 50%, rgba(12,9,63,1) 95%) no-repeat;
    min-height: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, i, b, strong, small {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.logo {
    font-weight: 700;
}

.nav-link {
    color: white;
    font-size: 14px;
}

.nav-link:hover, .nav-link:focus {
    color: #CCC;
}

.fa-solid, .fa-regular {
    font-size: 32px;
}

.fa-clickable {
    cursor: pointer;
    outline: none;
}

.fa-cart-filled {
    display: inline-block;
    background-color: red;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -5px;
    visibility: hidden;
}

.eyecatch-text {
    font-size: 32px;
    font-weight: 600;
}

.eyecatch-desc {
    font-size: 24px;
    font-weight: 300;
}

.bg-mode-darken {
    background: rgba(0, 0, 0, .4);
    background-blend-mode: darken;
}

.product-model {
    font-weight: 300;
}

.features h1 {
    font-size: 42px;
}

.features p {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.app-eyecatch {
    line-height: 56px;
}

.app-badge {
    height: 50px;
    width: auto;
}

.footer-menu {
    padding: 0;
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
}

.fa-brands {
    font-size: 32px;
}

.product1-order-image {
    padding-left: 80px; 
}

.product1-order-info{
    padding-left: 80px; 
}


.label-text {
    color: #ffffff;
    font-family: 'Poppins', sans-serif; 
}

.rectangular-form {
    background-color: #ffffff;
    border-radius: 5px;
}

.spotify-text p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'DM Sans', sans-serif;
}

.header-about {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.content-about .copy {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.add-to-cart-button {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.our-app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-header *, .accordion-body {
    font-family: 'DM Sans', sans-serif;
}

table tr td, table tr th {
    background-color: transparent!important;
}
 

/* .FAQ-Ques,
.FAQ-Ques p {
        font-size: 20px;
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
        color: #000000 ;
}

.FAQ-Ans,
.FAQ-Ans p {
        font-size: 20px;
        font-weight: 300;
        font-family: 'DM Sans', sans-serif;
        color: #000000 ;
} */

.custom-table {
    display: flex;
    justify-content: center;
    height: 100%;
}

.tracshield-content {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}