html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(140deg, rgba(21,15,113,1) 0%, rgba(143,12,12,1) 49%, rgba(21,15,113,1) 100%) no-repeat;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, i, b, strong, small {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.logo {
    font-weight: 700;
}

.nav-link {
    color: white;
    font-size: 16px;
}

.fa-solid {
    font-size: 32px;
}

.eyecatch-text {
    font-size: 56px;
    font-weight: 700;
}

.bg-mode-darken {
    background: rgba(0, 0, 0, .4);
    background-blend-mode: darken;
}

.product-model {
    font-weight: 300;
}

.features h1 {
    font-size: 56px;
}

.features p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

.app-eyecatch {
    line-height: 88px;
}

.app-badge {
    height: 50px;
    width: auto;
}

.footer-menu {
    padding: 0;
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
}

.fa-brands {
    font-size: 32px;
}